@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /*-apple-system, BlinkMacSystemFont*/
  font-family: 'Space Mono', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

a {
  color: #2E5198;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.disabled {
    pointer-events:none;
    opacity:0.6;
}

#app {
  margin-top: 0;
}

.main-section {
  min-height: 100vh;
  /*margin: 0!important;*/
  /*padding: 10px;*/
  background: #242429;
}

p, h1, h2, h3, div {
  color: #FFFFFF;
}

.button {
  display: inline-block;
  color: lightgray;
  /*font-size: 14px;*/
  /*background: #333338;*/
  /*border: 1px solid #333338;*/
  /*padding: 4px 1px;*/
  cursor: pointer;
}

/*.button:hover {*/
/*  border: 1px solid white;*/
/*}*/

/*.filter-button {*/
/*  border: 1px solid #333338;*/
/*}*/

.filter-button-active {
  border: 1px solid white;
  background-color: white;
  color: #333338;
}

.button-cat-active {
  background-color: white;
  color: #242429;
}

.display-type-inner {
  /*background-color: #333338;*/
}

.x-button {
  /*color: white;*/
  /*color: #6B7280;*/
  border: none;
  cursor: pointer;
}

.x-button-icon {
  width: 2rem;
  height: 2rem;
}

.sidebar-modal-component {
  /*height: 100vh;*/
  /*overflow: auto;*/
}

.bottom-modal-component {
  height: 85vh;
  overflow: auto;
}
